---
layout: default
---

<div class="home">

    <h1>MSC IA 2025</h1>

    {% include announcements.html %}
    <br />
    <h2>Resumen</h2>
    <p>{{ site.resumen }}</p>
    <h2></h2>Características del Programa</h2>
    <p>Inicio, Mayo de 2025<br>
Duración: 24 meses (4 semestres).<br>
Plazas disponibles: 15 (con incentivo económico).<br>
Incentivo mensuales, otorgados por el CONACYT durante 24 meses con dedicación exclusiva al programa.<br>
Modalidad: Presencial, de lunes a viernes, 8:00 a 15:00.<br>
Tutorías Personalizadas: Acompañamiento continuo durante los dos años.</p>
    <h2>Objetivos</h2>
    <p>{{ site.objetives }}</p>
    <h2>Perfil de Ingreso</h2>
    <p>{{ site.perfil }}</p>
    
    {{ content }}

    {% if site.data.previous_offering and site.data.previous_offering.offerings and site.data.previous_offering.offerings.size > 0 %}
    <h2>Resoluciones</h2>
    <ul class="previous-offerings">
    {% for offer in site.data.previous_offering.offerings %}
    <li><a href="{{ offer.url }}">{{offer.title}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
   
    <br>
    <div>
        <div style="width:33%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Comite Científico</h2>
                <ul>
                {% for ins in site.data.people.Comite %}
                   <li>{{ins.name}}
                    {{ins.educacion}}</li>
 
                {% endfor %}
            </ul>
            </div>
        </div>
        <div style="width:33%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Profesores </h2>
                <ul>
                {% for ta in site.data.people.Profesores %}
                    <li>{{ta.name}}
                    {{ta.educacion}}</li>
                    
                {% endfor %}
            </ul>
            </div>
        </div>
        <div style="width:33%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Colaboradores  </h2>
                <ul>
                {% for colab in site.data.people.Profesoresex %}
                    <li>{{colab.name}}
                    {{colab.educacion}}</li>
                    
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
    <h2>Apoya:</h2>

    <img width="500" src="/Programa/_images/logovisibilidad.png" valign="middle">
        
</div>
